<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/error.css">
    <title>Error</title>
</head>
<body>
    <h1>An error has occured!</h1>
    <div id="errorContainer">
        <p>Server responded with error code: <%= locals.errorCode || "500"%></p>
        <p><%= locals.errorMessage || "Internal Server Error" %></p>
    </div>
</body>
</html>