* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 5px;
    font-style: normal;
}

body {
    background: #42bbbd;
    background: linear-gradient(90deg, rgba(66, 187, 189, 1) 0%, rgba(87, 199, 133, 1) 85%);
}

#loginForm {
    display: flex;
    flex-direction: column;
    padding: 0px 10px 10px 10px;
    background-color: rgb(36, 36, 36);
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loginForm p {
    color: white;
}

.input {
    padding: 10px;
    color: white;
    background-color: rgb(56, 56, 56);
    border: solid white 1px;
}

.button {
    padding: 5px;
    color: white;
    margin-top: 5px;
    background-color: rgb(56, 56, 56);
    border: solid white 1px;
}

.error {
    display: inline-flex;
    flex-direction: row;
    flex-flow: row;
    background-color: rgb(36, 36, 36);
    height: 20px;
    padding: 5px;
    position: relative;
}

.error img {
    display: block;
    width: 25px;
    height: 20px;
}

.error p {
    width: 350px;
    height: 20px;
    margin-top: 1px;
    padding-left: 8px;
    color: white;
}