* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 5px;
    font-style: normal;
    margin: 0;
}

html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body { 
    background: #42bbbd;
    background: linear-gradient(90deg, rgba(66, 187, 189, 1) 0%, rgba(87, 199, 133, 1) 85%);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#formContainer {
    padding: 20px;
    background-color: #363636;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%; 
    max-width: 400px;
}

#formContainer p{
    color: white;
}

#error {
    background-color: rgb(70, 70, 70);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
}