/* my css skills are buns. if you copy this you're a weirdo */

* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 5px;
    font-style: normal;
}

body {
    background: #42bbbd;
    background: linear-gradient(90deg, rgba(66, 187, 189, 1) 0%, rgba(87, 199, 133, 1) 85%);
}

header {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    background-color: rgb(36, 36, 36);
    border-radius: 0.5em;
    max-width: 50em;
}

#navbar {
    display: flex;
    justify-content: space-evenly;
    padding: 0.5em;
}

#title {
    text-align: center;
    color: white;
    margin: 0;
}

#games {
    margin: 0.5em auto;
    padding: 0.5em;
    max-width: 50em;
    background-color: rgb(36, 36, 36);
    border-radius: 0.5em;
}

#games h2, p {
    color: white;
}

#gamesContainer {
    display: grid;
    column-gap: 0.2em;
    grid-template-areas: "tab tab tab tab";
    row-gap: 1em;
}

.box {
    padding: 0.5em 1em;
    background-color: rgb(36, 36, 36);
    border-radius: 4px;
}

.box h1 {
    color: white;
    margin: auto;
    text-align: center;
}

.tab {
    display: inline-block;
    margin: 0;
    background-color: rgb(53, 53, 53);
    border: 1px solid gray;
    border-radius: 4px;
}

.tab p {
    color: white;
    margin: 0;
    padding: 0.5em;
    text-align: center;
}

.tab img {
    display: flex;
    margin: auto;
    width: 95%;
    justify-self: center;
}

.tab button {
    position: relative;
    top: -95.5%;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: none;
    border: none;
}

.tab:hover {
    translate: 0 -0.25em;
    transition-duration: 0.1s;
    border: solid white 1px;
}