* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 5px;
    font-style: normal;
}

body {
    background: #42bbbd;
    background: linear-gradient(90deg, rgba(66, 187, 189, 1) 0%, rgba(87, 199, 133, 1) 85%);
}

header {
    display: grid;
    grid-template-columns: 2.5rem, auto;
}