* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 5px;
    font-style: normal;
}

body {
    --frame-backdrop: var(--frame-backdrop);
    --button-backdrop: var(--button-backdrop);
    --hover-color: var(--hover-color);
    --text: var(--text);

    background: #42bbbd;
    background: linear-gradient(90deg, rgba(66, 187, 189, 1) 0%, rgba(87, 199, 133, 1) 85%);
}

header {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    background-color: var(--frame-backdrop);
    border-radius: 0.5em;
    max-width: 50em;
}

#navbar {
    display: flex;
    justify-content: space-evenly;
    padding-top: 0;
    padding-bottom: 0.5em;
}

#navbar button {
    background-color: var(--button-backdrop);
    border: solid 1px gray;
    border-radius: 0.4em;
    padding: 0.5em 2em;
    color: var(--text);
}

#navbar button:hover {
    border: solid 1px var(--hover-color);
    transition-duration: 0.2s;
}

#title {
    text-align: center;
    color: var(--text);
    margin: 0;
}

#games {
    margin: 0.5em auto;
    padding-top: 0.1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    max-width: 50em;
    background-color: var(--frame-backdrop);
    border-radius: 0.5em;
}

#games h2, p {
    color: var(--text);
}

#gamesContainer {
    display: grid;
    column-gap: 0.2em;
    grid-template-areas: "tab tab tab tab";
    row-gap: 1em;
}

.game {
    display: flex;
    background-color: var(--frame-backdrop);
    margin: 0.5em auto;
    width: 75%;
}

#gameContainer {
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: auto;
    height: calc(90vh - 100px - 20px - 10px);
    width: 100vw;
}

#gameContainerButtons {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#gameContainerButtons button {
    width: 5em;
    height: 5em;
    background-color: var(--button-backdrop);
    border: solid 1px gray;
    color: var(--text);
    border-radius: 0.4em;
}

#gameContainer iframe {
    width: 100%;
    height: 96%;
    border: solid 1px gray;
    border-radius: 0.4em;
}

.box {
    padding: 0.5em 1em;
    background-color: var(--frame-backdrop);
    border-radius: 4px;
}

.box h1 {
    color: var(--text);
    margin: auto;
    text-align: center;
}

.tab {
    display: inline-block;
    margin: 0;
    background-color: var(--frame-backdrop);
    border: 1px solid gray;
    border-radius: 4px;
}

.tab p {
    color: var(--text);
    margin: 0;
    padding: 0.5em;
    text-align: center;
}

.tab img {
    display: flex;
    width: 10vw;
    height: 10vh;
    object-fit: cover;
    margin: auto;
    justify-self: center;
}

.tab button {
    position: relative;
    top: -95.5%;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: none;
    border: none;
}

.tab:hover {
    translate: 0 -0.25em;
    transition-duration: 0.1s;
    border: solid var(--hover-color) 1px;
}

.hidden {
    display: none;
}

#settingsContainer {
    margin: 0.5em auto;
    padding: 0.5em 1em;
    max-width: 50em;
    background-color: var(--frame-backdrop);
    border-radius: 0.5em;
    color: var(--text);
}

.setting {
    margin: 0.5em 0;
}

.setting h2 {
    margin: 0;
    padding-bottom: 0.5em;
}

.setting select {
    background-color: var(--button-backdrop);
    border: solid 1px var(--hover-color);
    border-radius: 0.4em;
    padding: 0.2em 0.5em;
    color: var(--text);
}