* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 5px;
    font-style: normal;
}

body {
    background: #42bbbd;
    background: linear-gradient(90deg, rgba(66, 187, 189, 1) 0%, rgba(87, 199, 133, 1) 85%);
}

header {
    display: flex;
    margin: auto;
    justify-content: center;
}

h2, p {
    color: white;
}

main {
    display: flex;
    margin: 1em auto;
    justify-content: center;
}

.box {
    display: block;
    background-color: rgb(36, 36, 36);
    border-radius: 4px;
    border: 0px solid black;
    padding: 0.5em 1em;
    width: 50em;
    max-width: 50em;
}

.box h1 {
    color: white;
    margin: auto;
    text-align: center;
}

.tab {
    display: inline-block;
    margin: 0;
    background-color: rgb(53, 53, 53);
    border-radius: 4px;
    border: 1px solid gray;
}

.tab p {
    margin: 0;
    padding: 0.5em;
    text-align: center;
}

.tab img {
    display: flex;
    margin: auto;
    width: 95%;
    justify-self: center;
}

.tab:hover {
    translate: 0 -0.25em;
    transition-duration: 0.1s;
    border: solid white 1px;
}

#gamesContainer {
    display: grid;
    column-gap: 0.2em;
    grid-template-areas: "tab tab tab tab";
    row-gap: 1em;
}