/* my css skills are buns. if you copy this you're a weirdo */

* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 5px;
    font-style: normal;
}

body {
    background: #42bbbd;
    background: linear-gradient(90deg, rgba(66, 187, 189, 1) 0%, rgba(87, 199, 133, 1) 85%);
}

header {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    background-color: rgb(36, 36, 36);
    border-radius: 0.5em;
    max-width: 50em;
}

#navbar {
    display: flex;
    justify-content: space-evenly;
    padding-top: 0;
    padding-bottom: 0.5em;
}

#navbar button {
    background-color: rgb(48, 48, 48);
    border: solid 1px rgb(82, 82, 82);
    border-radius: 0.4em;
    padding: 0.5em 2em;
    color: white;
}

#navbar button:hover {
    border: solid 1px white;
    transition-duration: 0.2s;
}

#title {
    text-align: center;
    color: white;
    margin: 0;
}

#games {
    margin: 0.5em auto;
    padding-top: 0.1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    max-width: 50em;
    background-color: rgb(36, 36, 36);
    border-radius: 0.5em;
}

#games h2, p {
    color: white;
}

#gamesContainer {
    display: grid;
    column-gap: 0.2em;
    grid-template-areas: "tab tab tab tab";
    row-gap: 1em;
}

.game {
    display: flex;
    background-color: rgb(34, 34, 34);
    margin: 0.5em auto;
    width: 75%;
}

#gameContainer {
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: auto;
    height: calc(90vh - 100px - 20px - 10px);
    width: 100vw;
}

#gameContainerButtons {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#gameContainerButtons button {
    width: 5em;
    height: 5em;
    background-color: rgb(48, 48, 48);
    border: solid 1px rgb(82, 82, 82);
    color: white;
    border-radius: 0.4em;
}

#gameContainer iframe {
    width: 100%;
    height: 96%;
    border: solid 1px rgb(82, 82, 82);
    border-radius: 0.4em;
}

.box {
    padding: 0.5em 1em;
    background-color: rgb(36, 36, 36);
    border-radius: 4px;
}

.box h1 {
    color: white;
    margin: auto;
    text-align: center;
}

.tab {
    display: inline-block;
    margin: 0;
    background-color: rgb(53, 53, 53);
    border: 1px solid gray;
    border-radius: 4px;
}

.tab p {
    color: white;
    margin: 0;
    padding: 0.5em;
    text-align: center;
}

.tab img {
    display: flex;
    margin: auto;
    width: 95%;
    justify-self: center;
}

.tab button {
    position: relative;
    top: -95.5%;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: none;
    border: none;
}

.tab:hover {
    translate: 0 -0.25em;
    transition-duration: 0.1s;
    border: solid white 1px;
}

.hidden {
    display: none;
}